<?xml version="1.0"?>
<!-- XML声明 -->

<robot name="rosbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
robot: URDF / Xacro 根节点
name: 机器人模型名称
xmlns:xacro: 声明 xacro 命名空间，允许使用 <xacro:*> 指令
-->

  <!-- 引入其他xacro文件（模块化设计） -->
  <xacro:include filename="$(find rosbot_description)/urdf/materials.xacro" />
  <!-- 材质定义 -->

  <xacro:include filename="$(find rosbot_description)/urdf/rosbot.ros2control" />
  <!-- ros2_control 插件配置（电机控制接口） -->

  <xacro:include filename="$(find rosbot_description)/urdf/rosbot.gazebo" />
  <!-- Gazebo 仿真插件配置 -->


  <link name="base_footprint" />
  <!--
base_footprint:
机器人在地面的参考坐标系
通常：
z = 0
用于 navigation / TF tree
-->


  <link name="base_link">
    <!--
base_link:
机器人主体坐标系
机器人动力学 / 传感器 / 控制的核心frame
-->

    <inertial>
      <!--
  惯性参数（动力学仿真用）
  Gazebo / physics engine 必须
  -->

      <origin xyz="0.004279734419382094 0.0 0.05375741183973183" rpy="0 0 0" />
      <!-- 质心位置 -->

      <mass value="2.34056579648116" />
      <!-- 质量 kg -->

      <inertia ixx="0.008048" iyy="0.008642" izz="0.014848"
        ixy="-0.0" iyz="0.0" ixz="-0.000438" />
      <!-- 惯性矩阵 -->
    </inertial>


    <visual>
      <!-- RViz / Gazebo 显示模型 -->

      <origin xyz="0 0 0" rpy="0 0 0" />

      <geometry>
        <mesh filename="file://$(find rosbot_description)/meshes/base_link.stl"
          scale="0.001 0.001 0.001" />
        <!--
      mesh: 3D模型
      scale: STL通常mm，需要缩放到m
      -->
      </geometry>

      <material name="silver" />
      <!-- 使用 materials.xacro 中定义的材质 -->
    </visual>


    <collision>
      <!-- 物理碰撞模型 -->

      <origin xyz="0 0 0" rpy="0 0 0" />

      <geometry>
        <mesh filename="file://$(find rosbot_description)/meshes/base_link.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>

  </link>


  <link name="right_wheel_1">
    <!-- 右轮 link -->

    <inertial> ... </inertial>

    <visual>
      <!-- 轮子的可视模型 -->
    </visual>

    <collision>
      <!-- 轮子的碰撞模型 -->
    </collision>

  </link>


  <link name="left_wheel_1">
    <!-- 左轮 link -->
  </link>


  <link name="lidar_1">
    <!-- LiDAR 传感器模型 -->
  </link>


  <joint name="base_joint" type="fixed">
    <!--
joint: 连接两个link

type="fixed"
表示两个link刚性连接
-->

    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />

    <parent link="base_footprint" />
    <!-- 父坐标系 -->

    <child link="base_link" />
    <!-- 子坐标系 -->

  </joint>


  <joint name="right_wheel_joint" type="continuous">
    <!--
continuous:
无限旋转关节
适用于轮子
-->

    <origin xyz="0.0 -0.1 0.05" rpy="0 0 0" />
    <!-- 轮子相对于base_link的位置 -->

    <parent link="base_link" />
    <child link="right_wheel_1" />

    <axis xyz="0.0 1.0 0.0" />
    <!-- 轮子旋转轴 -->
  </joint>


  <joint name="left_wheel_joint" type="continuous">

    <origin xyz="0.0 0.1 0.05" rpy="0 0 0" />

    <parent link="base_link" />
    <child link="left_wheel_1" />

    <axis xyz="0.0 1.0 0.0" />

  </joint>


  <joint name="lidar_joint" type="fixed">
    <!-- LiDAR 固定安装 -->

    <origin xyz="0.05 0.0 0.21" rpy="0 0 0" />

    <parent link="base_link" />
    <child link="lidar_1" />

  </joint>


</robot>